    .nav{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-left: 0px !important;
        padding-right: 0px !important;

        .last-item{
            position: relative;
            top: 60px;

            .nav-link{
                color: black;
                transition: all 400ms linear;
                    
                &:hover{
                    transform: scale(1.03);
                    text-decoration: underline;
                }

            }

        }

    }